{% extends 'email_base.html' %}

{% block styles %}
<style>
    div > a.button {
        display: flex;
        justify-content: center;
    }
    a.button {
        padding: 15px 25px;
        text-transform: uppercase;
        border-radius: 10px;
        background-color: #4388da;
        color: white;
    }
</style>
{% endblock %}

{% block title %}
Confirm your account
{% endblock %}

{% block content %}
<p>
    Someone signed up for SITE NAME using this email, click the button below to confirm your email.
</p>
<div>
    <a class="button" href="{{ REACT_URL }}/confirm_account?confirmation={{ confirmation_secret | urlencode }}&id={{ user.id }}&email={{ user.email | urlencode }}">Confirm Account</a>
</div>
<p>
If this wasn't you you can just ignore this email.
</p>
{% endblock %}
