{% extends 'email_base.html' %}

{% block styles %}
<style>
    div > a.button {
        display: flex;
        justify-content: center;
    }
    a.button {
        padding: 15px 25px;
        text-transform: uppercase;
        border-radius: 10px;
        background-color: #4388da;
        color: white;
    }
</style>
{% endblock %}

{% block title %}
Reset your password
{% endblock %}

{% block content %}
<p>
    Someone requested to reset your password for THIS SITE. Click the link below to change your password.
</p>
<div>
    <a class="button" href="{{ REACT_URL }}/reset_password?secret_code={{ reset_request.secret_code }}&id={{ reset_request.id }}&email={{ user.email }}">Reset password</a>
</div>
<p>
If this wasn't you you can safely ignore this email
</p>
{% endblock %}
